/ {
    ultrasonic_sensor {
        compatible = "gpio-keys";

        ultrasonic_trig_pin: ultrasonic_trigger {
            gpios = <&gpiod 5 GPIO_ACTIVE_HIGH>; 
            label = "Ultrasonic Trigger";
        };

        ultrasonic_echo_pin: ultrasonic_echo {
            gpios = <&gpiod 2  GPIO_ACTIVE_HIGH>; 
            label = "Ultrasonic Echo";
        };
    };

    pmod_kypd {
        compatible = "gpio-keys";

        pmod_kypd_col1_pin: pmod_kypd_col1 {
            gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>; 
            label = "Pmod KYPD column 1";
        };
        pmod_kypd_col2_pin: pmod_kypd_col2 {
            gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>; 
            label = "Pmod KYPD column 2";
        };
        pmod_kypd_col3_pin: pmod_kypd_col3 {
            gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>; 
            label = "Pmod KYPD column 3";
        };
        pmod_kypd_col4_pin: pmod_kypd_col4 {
            gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>; 
            label = "Pmod KYPD column 4";
        };
        pmod_kypd_row1_pin: pmod_kypd_row1 {
            gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>; 
            label = "Pmod KYPD row 1";
        };
        pmod_kypd_row2_pin: pmod_kypd_row2 {
            gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>; 
            label = "Pmod KYPD row 2";
        };
        pmod_kypd_row3_pin: pmod_kypd_row3 {
            gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>; 
            label = "Pmod KYPD row 3";
        };
        pmod_kypd_row4_pin: pmod_kypd_row4 {
            gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>; 
            label = "Pmod KYPD row 4";
        };
    };

    nfc_reader {
        compatible = "gpio-keys";

        rf_disable: nfc_reader_rf_disable {
            gpios = <&gpioe 2 GPIO_ACTIVE_HIGH>;
            label = "RF Disable";
        };

        gpo: nfc_reader_gpo {
            gpios = <&gpioe 5 GPIO_ACTIVE_HIGH>;
            label = "GPO";
        };
    };
    
    aliases {
        ultrasonictrig = &ultrasonic_trig_pin;
        ultrasonicecho = &ultrasonic_echo_pin;
        pmodkypdcol1 = &pmod_kypd_col1_pin;
        pmodkypdcol2 = &pmod_kypd_col2_pin;
        pmodkypdcol3 = &pmod_kypd_col3_pin;
        pmodkypdcol4 = &pmod_kypd_col4_pin;
        pmodkypdrow1 = &pmod_kypd_row1_pin;
        pmodkypdrow2 = &pmod_kypd_row2_pin;
        pmodkypdrow3 = &pmod_kypd_row3_pin;
        pmodkypdrow4 = &pmod_kypd_row4_pin;
        nfcreaderrfdisable = &rf_disable;
        nfcreadergpo = &gpo;
    };  
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb11>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
    label = "I2C_2";
	lis3mdl-magn@1e {
		compatible = "st,lis3mdl-magn";
		reg = <0x1e>;
	};

	hts221@5f {
		compatible = "st,hts221";
		reg = <0x5f>;
		drdy-gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
	};

	lps22hb-press@5d {
		compatible = "st,lps22hb-press";
		reg = <0x5d>;
	};

	lsm6dsl: lsm6dsl@6a {
		compatible = "st,lsm6dsl";
		reg = <0x6a>;
		irq-gpios = <&gpiod 11 GPIO_ACTIVE_HIGH>;
	};

	vl53l0x@29 {
		compatible = "st,vl53l0x";
		reg = <0x29>;
		xshut-gpios = <&gpioc 6 GPIO_ACTIVE_LOW>;
	};

    m24sr640: m24sr64@56 {
        compatible = "st,m24sr64";
        reg = <0x56>;
        status = "okay";
    };
};